<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ss.gamoney">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Gamoney"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProgressDialog"></activity>
        <activity android:name=".joinedTournament" />
        <activity android:name=".paymentunsuccessful" />
        <activity android:name=".Paymentsuccesssfull" />
        <activity android:name=".CsgoDescription" />
        <activity android:name=".FreefireDescription" />
        <activity android:name=".CodDescription" />
        <activity android:name=".PubgDescription" />
        <activity android:name=".csgoRecycler" />
        <activity android:name=".FreefireRecycler" />
        <activity android:name=".CodRecycler" />
        <activity android:name=".PubgRecycler" />
        <activity android:name=".SupportUs" />
        <activity android:name=".ContactUs" />
        <activity android:name=".Policy" />
        <activity android:name=".FreefireAfterdes" />
        <activity android:name=".CodAfterdes" />
        <activity android:name=".CsgoAfterdes" />
        <activity android:name=".PubgAfterdes" />
        <activity android:name=".roomidpasss" />
        <activity
            android:name=".Register"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Splash_activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Faq" />
        <activity android:name=".Tournaments" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_L7rUAT54uR8uKu" />
    </application>

</manifest>